.app {
  width: 90%;
  margin: 20px auto;
}

.cp {
  display: flex;
  gap: 10px;
  margin: 20px auto;
}

.editor {
  margin: 20px auto;
}

.row {
  display: flex;
}

.pixel {
  width: 20px;
  height: 20px;
  background-color: aliceblue;
  border: solid 1px;
  margin: -1px;
}

.pixel:last-child {
  width: 19px;
}

.row:last-child .pixel {
  height: 19px;
}

.black {
  background-color: #000;
}

.white {
  background-color: #fff;
}

.code {
  margin-left: 20px;
}

textarea {
  width: 100%;
  height: 300px;
}

.wrapper {
  border-radius: 10px;
  overflow: hidden;
}

pre {
  margin: 20px auto;
}


.canvasWrapper_12832 {
  background-size: 100% 100%;
  width: 190px;
  height: 65px;
  background-image: url("/public/12832.jpg");
}

.canvasWrapper_12832 canvas {
  margin: 15px 35px;
}

.canvasWrapper_12864 {
  background-size: 100% 100%;
  width: 155px;
  height: 135px;
  background-image: url("/public/12864.jpg");
}

.canvasWrapper_12864 canvas{
  margin: 35px 15px;
}